MUSE_TALK_REPO_DIR=/home/ssm-user/MuseTalk
MODEL_ROOT=/home/ssm-user/MuseTalk/models
WORK_ROOT=/home/ssm-user/spillr-avatar/avatar_service
AVATAR_ROOT=/home/ssm-user/spillr-avatar/avatar_service/storage/avatars
JOBS_ROOT=/home/ssm-user/spillr-avatar/avatar_service/storage/jobs
OUTPUT_ROOT=/home/ssm-user/spillr-avatar/avatar_service/storage/outputs
DEFAULT_MODEL_VERSION=v15
DEFAULT_FPS=25
DEFAULT_BATCH_SIZE=8
FFMPEG_BIN=ffmpeg
API_HOST=0.0.0.0
API_PORT=8000
CORS_ALLOW_ORIGINS=*
